#comment-bar {
    grid-area: comments;
    position: relative;
    background-color: #fff;
    border: black solid 2px;
    border-top: none;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#comment-bar h1{
    border-bottom: 2px solid black;
}

.comment-list-item:hover {
    cursor: pointer;
    background-color: rgba(85, 250, 44, 0.096);
}

#comment-form {
    margin-top: auto;
}

#comment-form textarea {
    resize: none;
    width: 100%;
    height: 80px;
    border: none;
    border-top: 2px solid black;
    box-sizing: border-box;
    padding: 5px;
}

#comment-form button {
    border: none;
    border-top: 2px solid black;
    width: 100%;
    height: 50px;
}

#comment-form textarea {
    outline: none;
}