#content {
    grid-area: garden;
    display: flex;
    flex-direction: column;
    background-color: rgb(195 246 233);
}

#garden-info {
    text-align: center;
    padding-bottom: 5px;
}

#title {
    position: relative;
}

/* Edit pencil SVG */
#edit-garden {
    align-self: center;
    position: absolute;
    margin-left: 5px;
    margin-top: 3px;
    width: 1rem;
    height: 100%;
}

#edit-garden:hover {
    cursor: pointer;
    fill: rgb(255, 255, 255);
}

canvas {
    width: 100%;
    height: 430px;
    background-color: rgb(90 220 58 / 77%);
    border-top: 2px solid black;
}

.erasing {
    cursor: url("../media/cursor.cur"), auto;
}

.controls-description {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    border-top: 2px solid black;
}

.no-garden,
.auth-garden {
    color: rgb(190, 0, 0);
    text-align: center;
}

#garden-controls {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border-top: 5px solid black;
}

#flowers {
    padding: 10px 0;
    width: 100%;
    background-color: rgb(195, 248, 182);
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
}

#flowers div {
    height: 125px;
    width: 67px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#flowers div:hover {
    cursor: grab;
    background-color: rgba(199, 241, 9, 0.527);
}

#blue {
    background-image: url("../media/flowers/blue.png");
}

#purple {
    background-image: url("../media/flowers/purple.png");
}

#red {
    background-image: url("../media/flowers/red.png");
}

#white {
    background-image: url("../media/flowers/white.png");
}

#yellow {
    background-image: url("../media/flowers/yellow.png");
}

#drawing-controls {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.label-control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#flower-size {
    width: 200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    d
}

#save {
    width: 160px;
    height: 40px;
    border-radius: 4px;
}

#save:hover {
    background-color: rgba(255, 218, 8, 0.664);
}


/* RANGE SLIDER */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background-image: url('../media/slider.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.slider::-webkit-slider-thumb:hover {
    cursor: grab;
}

.slider::-webkit-slider-thumb:active {
    cursor: grabbing;
}