#sidebar {
    position: relative;
    grid-area: sidebar;
    background-color: white;
    border: black solid 2px;
    border-top: none;
    display: flex;
    flex-direction: column;
}

#sidebar-header {
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

#gardens h2 {
    background-color: rgba(85, 250, 44, 0.37);
    padding: 20px 0;
    border-bottom: 2px solid black;
}

.garden-list-item:hover {
    cursor: pointer;
    background-color: rgba(85, 250, 44, 0.096);
}

#sidebar-footer {
    margin-top: auto;
    width: 100%;
}

#create {
    width: 100%;
    height: 84.5px;
    padding: 5px;
    border: none;
    border-top: 2px solid black;
}